In [4]:
import requests
import pandas as pd
import time

In [ ]:
# OneMap API login credentials
email = ""  # Replace with your registered email
password = ""  # Replace with your password

# Get authentication token
auth_url = "https://www.onemap.gov.sg/api/auth/post/getToken"
auth_data = {"email": email, "password": password}

auth_response = requests.post(auth_url, json=auth_data)
auth_token = auth_response.json().get("access_token")

print("Auth Token:", auth_token)  # Debugging: Print the token

Auth Token: eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiIxYTI3NzdiYWVlNjYwOWI5MDg0MDhmMzNlZDMzODNlMiIsImlzcyI6Imh0dHA6Ly9pbnRlcm5hbC1hbGItb20tcHJkZXppdC1pdC1uZXctMTYzMzc5OTU0Mi5hcC1zb3V0aGVhc3QtMS5lbGIuYW1hem9uYXdzLmNvbS9hcGkvdjIvdXNlci9zZXNzaW9uIiwiaWF0IjoxNzQyMTE1Mzk3LCJleHAiOjE3NDIzNzQ1OTcsIm5iZiI6MTc0MjExNTM5NywianRpIjoieURZNGJsazhXcUFqQmd2ciIsInVzZXJfaWQiOjYwNjQsImZvcmV2ZXIiOmZhbHNlfQ.Zlvk2DTwocyfxSsuSvP90GCQlY3hYsB-GjYGoHmIn6I

In [8]:
df = pd.read_csv("ura_rental_data.csv")
df_unique = df[["street", "project", "x", "y"]]
df_unique = df_unique.drop_duplicates(df_unique)

In [9]:
# Function to call OneMap API for a batch of coordinates
def convert_batch_svy21_to_wgs84(batch_df, token):
    url = "https://www.onemap.gov.sg/api/common/convert/3414to4326"
    results = []

    # Iterate through the batch and make API requests
    for _, row in batch_df.iterrows():
        params = {"X": row["x"], "Y": row["y"], "token": token}
        headers = {"Authorization": f"Bearer {token}"}
        response = requests.get(url, params=params, headers=headers)

        if response.status_code == 200:
            data = response.json()
            results.append((data["latitude"], data["longitude"]))
        else:
            results.append((None, None))  # Handle failures if API returns an error

    return results

# Function to process batches with rate limiting
def process_batches(df, batch_size, token, rate_limit=250):
    num_batches = (len(df) // batch_size) + 1  # Number of batches to process
    results = []

    for i in range(num_batches):
        batch_df = df.iloc[i * batch_size : (i + 1) * batch_size]  # Slice the batch
        print(f"Processing batch {i + 1}/{num_batches}...")
        
        # Get results for the batch
        batch_results = convert_batch_svy21_to_wgs84(batch_df, token)
        results.extend(batch_results)

        # Add rate limiting to ensure we're within the 250 requests per minute
        if (i + 1) % (rate_limit // batch_size) == 0:  # Only wait after every rate_limit batch
            print("Rate limit reached, pausing for 60 seconds...")
            time.sleep(60)  # Sleep for 60 seconds to respect the 250 requests per minute limit

    return results

# Define batch size and rate limit
batch_size = 50  # Adjust based on how many requests you want per batch
rate_limit = 250  # OneMap API limit

# Process the entire DataFrame in batches
latitude_longitude = process_batches(df_unique, batch_size, auth_token, rate_limit)

# Assign the results to the DataFrame
df_unique[["latitude", "longitude"]] = latitude_longitude
print("Batch processing completed!")

Processing batch 1/100...
Processing batch 2/100...
Processing batch 3/100...
Processing batch 4/100...
Processing batch 5/100...
Rate limit reached, pausing for 60 seconds...
Processing batch 6/100...
Processing batch 7/100...
Processing batch 8/100...
Processing batch 9/100...
Processing batch 10/100...
Rate limit reached, pausing for 60 seconds...
Processing batch 11/100...
Processing batch 12/100...
Processing batch 13/100...
Processing batch 14/100...
Processing batch 15/100...
Rate limit reached, pausing for 60 seconds...
Processing batch 16/100...
Processing batch 17/100...
Processing batch 18/100...
Processing batch 19/100...
Processing batch 20/100...
Rate limit reached, pausing for 60 seconds...
Processing batch 21/100...
Processing batch 22/100...
Processing batch 23/100...
Processing batch 24/100...
Processing batch 25/100...
Rate limit reached, pausing for 60 seconds...
Processing batch 26/100...
Processing batch 27/100...
Processing batch 28/100...
Processing batch 29/100...
Processing batch 30/100...
Rate limit reached, pausing for 60 seconds...
Processing batch 31/100...
Processing batch 32/100...
Processing batch 33/100...
Processing batch 34/100...
Processing batch 35/100...
Rate limit reached, pausing for 60 seconds...
Processing batch 36/100...
Processing batch 37/100...
Processing batch 38/100...
Processing batch 39/100...
Processing batch 40/100...
Rate limit reached, pausing for 60 seconds...
Processing batch 41/100...
Processing batch 42/100...
Processing batch 43/100...
Processing batch 44/100...
Processing batch 45/100...
Rate limit reached, pausing for 60 seconds...
Processing batch 46/100...
Processing batch 47/100...
Processing batch 48/100...
Processing batch 49/100...
Processing batch 50/100...
Rate limit reached, pausing for 60 seconds...
Processing batch 51/100...
Processing batch 52/100...
Processing batch 53/100...
Processing batch 54/100...
Processing batch 55/100...
Rate limit reached, pausing for 60 seconds...
Processing batch 56/100...
Processing batch 57/100...
Processing batch 58/100...
Processing batch 59/100...
Processing batch 60/100...
Rate limit reached, pausing for 60 seconds...
Processing batch 61/100...
Processing batch 62/100...
Processing batch 63/100...
Processing batch 64/100...
Processing batch 65/100...
Rate limit reached, pausing for 60 seconds...
Processing batch 66/100...
Processing batch 67/100...
Processing batch 68/100...
Processing batch 69/100...
Processing batch 70/100...
Rate limit reached, pausing for 60 seconds...
Processing batch 71/100...
Processing batch 72/100...
Processing batch 73/100...
Processing batch 74/100...
Processing batch 75/100...
Rate limit reached, pausing for 60 seconds...
Processing batch 76/100...
Processing batch 77/100...
Processing batch 78/100...
Processing batch 79/100...
Processing batch 80/100...
Rate limit reached, pausing for 60 seconds...
Processing batch 81/100...
Processing batch 82/100...
Processing batch 83/100...
Processing batch 84/100...
Processing batch 85/100...
Rate limit reached, pausing for 60 seconds...
Processing batch 86/100...
Processing batch 87/100...
Processing batch 88/100...
Processing batch 89/100...
Processing batch 90/100...
Rate limit reached, pausing for 60 seconds...
Processing batch 91/100...
Processing batch 92/100...
Processing batch 93/100...
Processing batch 94/100...
Processing batch 95/100...
Rate limit reached, pausing for 60 seconds...
Processing batch 96/100...
Processing batch 97/100...
Processing batch 98/100...
Processing batch 99/100...
Processing batch 100/100...
Rate limit reached, pausing for 60 seconds...
Batch processing completed!

In [11]:
df["rental"] = df["rental"].apply(eval)
df_exploded = df.explode('rental')
df_rental = pd.json_normalize(df_exploded["rental"])
df_final = df_exploded.drop(columns=["rental"]).reset_index(drop=True).join(df_rental)

In [12]:
df_final = df_final.merge(df_unique, on=["street", "project", "x", "y"], how="left")
df_final

,street,x,project,y,areaSqm,leaseDate,propertyType,district,areaSqft,noOfBedRoom,rent,latitude,longitude
0,ELLIOT ROAD,38865.17182,ELLIOT AT THE EAST COAST,32621.92134,260-270,0320,Non-landed Properties,15,2800-2900,4,6900,1.311294,103.930947
1,ELLIOT ROAD,38865.17182,ELLIOT AT THE EAST COAST,32621.92134,160-170,0320,Non-landed Properties,15,1700-1800,4,5100,1.311294,103.930947
2,ELLIOT ROAD,38865.17182,ELLIOT AT THE EAST COAST,32621.92134,150-160,0320,Non-landed Properties,15,1600-1700,3,4000,1.311294,103.930947
3,ELLIOT ROAD,38865.17182,ELLIOT AT THE EAST COAST,32621.92134,190-200,0320,Non-landed Properties,15,2100-2200,3,4700,1.311294,103.930947
4,ELLIOT ROAD,38865.17182,ELLIOT AT THE EAST COAST,32621.92134,120-130,0320,Non-landed Properties,15,1300-1400,3,4200,1.311294,103.930947
...,...,...,...,...,...,...,...,...,...,...,...,...,...
454972,PERUMAL ROAD,30477.87296,UPTOWN @ FARRER,32796.58779,60-70,1124,Non-landed Properties,08,600-700,3,4800,1.312875,103.855583
454973,PERUMAL ROAD,30477.87296,UPTOWN @ FARRER,32796.58779,70-80,1024,Non-landed Properties,08,800-900,3,5200,1.312875,103.855583
454974,PERUMAL ROAD,30477.87296,UPTOWN @ FARRER,32796.58779,40-50,1124,Non-landed Properties,08,500-600,2,3800,1.312875,103.855583
454975,PERUMAL ROAD,30477.87296,UPTOWN @ FARRER,32796.58779,40-50,1224,Non-landed Properties,08,500-600,2,3900,1.312875,103.855583
454976,LORONG L TELOK KURAU,36994.28283,RESIDENCE 118,32698.69193,110-120,1024,Non-landed Properties,15,1200-1300,3,4200,1.311989,103.914137

In [13]:
df_final.to_csv("ura_rental_data_latlong.csv", index=False)